<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Speculum Pages revival - Enema, medical, waterplay and other related stories :: <% if(page.title) { %><%- page.title %><% } %><% if(page.current) { %>Page <%- page.current %><% } %>">
    <meta name="author" content="<% if(page.author) { %><%- page.author %><% } %>">
    <meta name="generator" content="Hexo">
    <title><% if(page.title) { %><%- page.title %> :: <% } %><%- config.title %><% if(page.current) { %> :: Page <%- page.current %><% } %></title>

    <!-- Bootstrap core CSS -->
    <%- css('css/bootstrap.css') %>
    <!-- Custom styles for this template -->
    <%- css('css/style.css') %>
</head>
<body>
<main role="main" class="container">
    <div class="jumbotron">
        <%- body %>
    </div>
</main>

<!-- JS scripts -->
<%- js('js/jquery.js') %>
<%- js('js/bootstrap.js') %>


<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.varak.net/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '5']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.varak.net/matomo.php?idsite=5&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->

<script data-goatcounter="https://waritko.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>


</body>
</html>
